smarte_schublade/node-red_einfach.json
[
    {
        "id": "b3ecbfaba29dc4c6",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "Schublade",
        "server": "",
        "friendly_name": "kueche_fenster",
        "device_id": "0x00158d0004280b37",
        "state": "0",
        "outputAtStartup": true,
        "x": 100,
        "y": 4320,
        "wires": [
            [
                "c87f4bf35d74e7b6"
            ]
        ]
    },
    {
        "id": "c87f4bf35d74e7b6",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "geöffnet? ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 4320,
        "wires": [
            [
                "0cc99216f28b9377"
            ]
        ]
    },
    {
        "id": "0cc99216f28b9377",
        "type": "function",
        "z": "d1a8fa38065c2484",
        "name": "schubladen_counter +1",
        "func": "const tmp=flow.get('schubladen_counter')\nflow.set('schubladen_counter',tmp+1)\nmsg.payload=tmp+1\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 4320,
        "wires": [
            [
                "7146ef3ff596d0bc",
                "96bfc668a57b6740"
            ]
        ]
    },
    {
        "id": "7146ef3ff596d0bc",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Schwellenwert festlegen",
        "property": "schubladen_counter",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 4320,
        "wires": [
            [
                "ef81fa94b04a1a4e"
            ]
        ]
    },
    {
        "id": "96bfc668a57b6740",
        "type": "ui_chart",
        "z": "d1a8fa38065c2484",
        "name": "Graph",
        "group": "6071c9e359b76828",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 4240,
        "wires": [
            []
        ]
    },
    {
        "id": "ef81fa94b04a1a4e",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Farbe einstellen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"r\":255,\"g\":0,\"b\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 4320,
        "wires": [
            [
                "fd4a7639caf5802f"
            ]
        ]
    },
    {
        "id": "fd4a7639caf5802f",
        "type": "zigbee2mqtt-out",
        "z": "d1a8fa38065c2484",
        "name": "Lampe",
        "server": "",
        "friendly_name": "tint_gu10",
        "device_id": "0xccccccfffeec4d24",
        "command": "color",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1290,
        "y": 4320,
        "wires": []
    },
    {
        "id": "4aaa5f9be34cb86b",
        "type": "inject",
        "z": "d1a8fa38065c2484",
        "name": "Reset counter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "10 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 4380,
        "wires": [
            [
                "5a0363fda51b1041"
            ]
        ]
    },
    {
        "id": "5a0363fda51b1041",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "schubladen_counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 4380,
        "wires": [
            []
        ]
    },
    {
        "id": "6071c9e359b76828",
        "type": "ui_group",
        "name": "Default",
        "tab": "005791a2742a4990",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "005791a2742a4990",
        "type": "ui_tab",
        "name": "INTIA",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]