stumme_tuerklingel/node-red.json
[
    {
        "id": "8d07fa2eee02e2d0",
        "type": "subflow",
        "name": "Benachrichtigung",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f0fda298085bfafe"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f0fda298085bfafe",
        "type": "debug",
        "z": "8d07fa2eee02e2d0",
        "name": "Benachrichtigung",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "abaf19fcbaedda64",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "Klingel",
        "server": "",
        "friendly_name": "aqara_switch",
        "device_id": "0x00158d0005412e96",
        "state": "0",
        "outputAtStartup": true,
        "x": 110,
        "y": 3620,
        "wires": [
            [
                "068a98c9ba1807d4",
                "b67bd38c481d78e0"
            ]
        ]
    },
    {
        "id": "068a98c9ba1807d4",
        "type": "zigbee2mqtt-out",
        "z": "d1a8fa38065c2484",
        "name": "Lampe",
        "server": "",
        "friendly_name": "",
        "device_id": null,
        "command": "alert",
        "commandType": "z2m_cmd",
        "payload": "select",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 270,
        "y": 3620,
        "wires": []
    },
    {
        "id": "98fe37b1abae2733",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "Haustür",
        "server": "",
        "friendly_name": "",
        "device_id": null,
        "state": "0",
        "outputAtStartup": true,
        "x": 110,
        "y": 3720,
        "wires": [
            [
                "e21a5bd43e3e32de"
            ]
        ]
    },
    {
        "id": "e21a5bd43e3e32de",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "geöffnet?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 3720,
        "wires": [
            [
                "4b01d2b3e3544e43"
            ]
        ]
    },
    {
        "id": "4b01d2b3e3544e43",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lastOpened",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 3720,
        "wires": [
            []
        ]
    },
    {
        "id": "92e7e83681db5da4",
        "type": "delay",
        "z": "d1a8fa38065c2484",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 3660,
        "wires": [
            [
                "876fe6183deb5fad"
            ]
        ]
    },
    {
        "id": "876fe6183deb5fad",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Zwischendrin geöffnet?",
        "property": "lastOpened",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 3660,
        "wires": [
            [
                "74b332a1b4db13eb"
            ]
        ]
    },
    {
        "id": "b67bd38c481d78e0",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Zeitpunkt speichern",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 3660,
        "wires": [
            [
                "92e7e83681db5da4"
            ]
        ]
    },
    {
        "id": "74b332a1b4db13eb",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Nachricht schreiben",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Es hat geklingelt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3660,
        "wires": [
            [
                "85addab28942130b"
            ]
        ]
    },
    {
        "id": "85addab28942130b",
        "type": "subflow:8d07fa2eee02e2d0",
        "z": "d1a8fa38065c2484",
        "name": "",
        "x": 1250,
        "y": 3660,
        "wires": []
    }
]