smarte_trinkflasche/node-red_einfach.json
[
    {
        "id": "8d07fa2eee02e2d0",
        "type": "subflow",
        "name": "Benachrichtigung",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f0fda298085bfafe"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f0fda298085bfafe",
        "type": "debug",
        "z": "8d07fa2eee02e2d0",
        "name": "Benachrichtigung",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "78791c51146b546e",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "Erschuetterungssensor",
        "server": "",
        "friendly_name": "Erschuetterungssensor",
        "device_id": "0x00158d0006c90196",
        "state": "0",
        "outputAtStartup": true,
        "x": 160,
        "y": 2940,
        "wires": [
            [
                "72c5155190e22d4e"
            ]
        ]
    },
    {
        "id": "72c5155190e22d4e",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Wurde getrunken?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tilt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2940,
        "wires": [
            [
                "ca5a75e2bd3e5d2f"
            ]
        ]
    },
    {
        "id": "ca5a75e2bd3e5d2f",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wasser_zeitpunkt",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 2940,
        "wires": [
            [
                "c264d86dc9fa9184"
            ]
        ]
    },
    {
        "id": "c264d86dc9fa9184",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Zeitpunkt speichern",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 2940,
        "wires": [
            [
                "6289dceb7bdb8538"
            ]
        ]
    },
    {
        "id": "6289dceb7bdb8538",
        "type": "delay",
        "z": "d1a8fa38065c2484",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1110,
        "y": 2940,
        "wires": [
            [
                "5b0da9756688803b"
            ]
        ]
    },
    {
        "id": "5b0da9756688803b",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Zwischendurch getrunken? ",
        "property": "wasser_zeitpunkt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1360,
        "y": 2940,
        "wires": [
            [
                "3f9296ece7d81b48"
            ]
        ]
    },
    {
        "id": "3f9296ece7d81b48",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Nachricht schreiben",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Du solltest etwas trinken",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 2940,
        "wires": [
            [
                "b2132d241170ff25"
            ]
        ]
    },
    {
        "id": "b2132d241170ff25",
        "type": "subflow:8d07fa2eee02e2d0",
        "z": "d1a8fa38065c2484",
        "name": "",
        "x": 1830,
        "y": 2940,
        "wires": []
    }
]