smarte_trinkflasche/node-red_komplex.json
[
    {
        "id": "8d07fa2eee02e2d0",
        "type": "subflow",
        "name": "Benachrichtigung",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f0fda298085bfafe"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f0fda298085bfafe",
        "type": "debug",
        "z": "8d07fa2eee02e2d0",
        "name": "Benachrichtigung",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "54347279fd2d0ab1",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "Erschuetterungssensor",
        "server": "",
        "friendly_name": "Erschuetterungssensor",
        "device_id": "0x00158d0006c90196",
        "state": "0",
        "outputAtStartup": true,
        "x": 140,
        "y": 2760,
        "wires": [
            [
                "703c52ab12216cb5"
            ]
        ]
    },
    {
        "id": "703c52ab12216cb5",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Wurde getrunken?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tilt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 2760,
        "wires": [
            [
                "5311ddf6ce569770",
                "597b26797cb82973"
            ]
        ]
    },
    {
        "id": "5311ddf6ce569770",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wasser_zeitpunkt",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2760,
        "wires": [
            [
                "b3815832df359d0f"
            ]
        ]
    },
    {
        "id": "597b26797cb82973",
        "type": "function",
        "z": "d1a8fa38065c2484",
        "name": "wasser_counter+1",
        "func": "var tmp=flow.get('wasser_counter')\nflow.set('wasser_counter',tmp+1)\nmsg.payload=\"Du hast \"+(tmp+1)+\" mal was getrunken\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2700,
        "wires": [
            [
                "bfdc45847a247e51",
                "2dd73b583ab8f41a"
            ]
        ]
    },
    {
        "id": "b3815832df359d0f",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Zeitpunkt speichern",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2760,
        "wires": [
            [
                "8fb9c77ad0e18905"
            ]
        ]
    },
    {
        "id": "bfdc45847a247e51",
        "type": "subflow:8d07fa2eee02e2d0",
        "z": "d1a8fa38065c2484",
        "name": "",
        "x": 880,
        "y": 2700,
        "wires": []
    },
    {
        "id": "2dd73b583ab8f41a",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "wasser_counter in payload speichern",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "wasser_counter",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2640,
        "wires": [
            [
                "e0f1cc82657c654b"
            ]
        ]
    },
    {
        "id": "8fb9c77ad0e18905",
        "type": "delay",
        "z": "d1a8fa38065c2484",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1090,
        "y": 2760,
        "wires": [
            [
                "46075d21f3e48388"
            ]
        ]
    },
    {
        "id": "e0f1cc82657c654b",
        "type": "ui_chart",
        "z": "d1a8fa38065c2484",
        "name": "",
        "group": "6071c9e359b76828",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "46075d21f3e48388",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Zwischendurch getrunken? ",
        "property": "wasser_zeitpunkt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1360,
        "y": 2760,
        "wires": [
            [
                "3f62c55c4b26843e"
            ]
        ]
    },
    {
        "id": "3f62c55c4b26843e",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "Nachricht schreiben",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Du solltest etwas trinken",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 2760,
        "wires": [
            [
                "d210eb9c67463522"
            ]
        ]
    },
    {
        "id": "d210eb9c67463522",
        "type": "subflow:8d07fa2eee02e2d0",
        "z": "d1a8fa38065c2484",
        "name": "",
        "x": 1830,
        "y": 2760,
        "wires": []
    },
    {
        "id": "6071c9e359b76828",
        "type": "ui_group",
        "name": "Default",
        "tab": "005791a2742a4990",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "005791a2742a4990",
        "type": "ui_tab",
        "name": "INTIA",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]