erinnerungsknopf/node-red.json
[
    {
        "id": "8d07fa2eee02e2d0",
        "type": "subflow",
        "name": "Benachrichtigung",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f0fda298085bfafe"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f0fda298085bfafe",
        "type": "debug",
        "z": "8d07fa2eee02e2d0",
        "name": "Benachrichtigung",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "e0d546ee3ac83d75",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "Schalter",
        "server": "",
        "friendly_name": "aqara_switch",
        "device_id": "0x00158d0005412e96",
        "state": "0",
        "outputAtStartup": true,
        "x": 80,
        "y": 4860,
        "wires": [
            [
                "e694d8ca2fd90b97"
            ]
        ]
    },
    {
        "id": "e694d8ca2fd90b97",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 330,
        "y": 4860,
        "wires": [
            [
                "fd7f14c12e34d372"
            ],
            [
                "4ed48c51f54f88c2"
            ],
            [
                "7c01b3c96744270b"
            ],
            [
                "3b918ed16cf05b4c"
            ]
        ]
    },
    {
        "id": "fd7f14c12e34d372",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "erinnerung_start",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 4740,
        "wires": [
            []
        ]
    },
    {
        "id": "4ed48c51f54f88c2",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 4800,
        "wires": [
            [
                "c53cf26ca52aab19"
            ]
        ]
    },
    {
        "id": "7c01b3c96744270b",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "60*60000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 4860,
        "wires": [
            [
                "7ff1f0871276016d"
            ]
        ]
    },
    {
        "id": "3b918ed16cf05b4c",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "120*60000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 4920,
        "wires": [
            [
                "7ff1f0871276016d"
            ]
        ]
    },
    {
        "id": "c53cf26ca52aab19",
        "type": "function",
        "z": "d1a8fa38065c2484",
        "name": "wie lange wurde gehalten?",
        "func": "msg.delay=(msg.payload-flow.get(\"erinnerung_start\"))*60 //sekunden zu minuten\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 4780,
        "wires": [
            [
                "7ff1f0871276016d"
            ]
        ]
    },
    {
        "id": "7ff1f0871276016d",
        "type": "delay",
        "z": "d1a8fa38065c2484",
        "name": "",
        "pauseType": "delayv",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 4840,
        "wires": [
            [
                "6cb3daef189d6da9"
            ]
        ]
    },
    {
        "id": "6cb3daef189d6da9",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Errinnerung!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 4840,
        "wires": [
            [
                "292acd03626b1154"
            ]
        ]
    },
    {
        "id": "292acd03626b1154",
        "type": "subflow:8d07fa2eee02e2d0",
        "z": "d1a8fa38065c2484",
        "name": "",
        "x": 1600,
        "y": 4840,
        "wires": []
    }
]