smartes_nachtlicht/node-red_komplex.json
[
    {
        "id": "1ac56b8be74e4e0a",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "bewegungsmelder",
        "server": "",
        "friendly_name": "sonoff_motion",
        "device_id": "0x00124b0023424ad9",
        "state": "0",
        "outputAtStartup": true,
        "x": 150,
        "y": 960,
        "wires": [
            [
                "c0a6e9d1180b85ec"
            ]
        ]
    },
    {
        "id": "3d9dd61159fc5ea1",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "bad_tuer",
        "server": "",
        "friendly_name": "bad_tuer",
        "device_id": "0x00158d0004280c17",
        "state": "0",
        "outputAtStartup": true,
        "x": 120,
        "y": 920,
        "wires": [
            [
                "7a99cd8fe67e4d99"
            ]
        ]
    },
    {
        "id": "1f8a6dd80af33834",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 940,
        "wires": [
            [
                "e134dce509d92679"
            ]
        ]
    },
    {
        "id": "e134dce509d92679",
        "type": "BooleanLogic",
        "z": "d1a8fa38065c2484",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "result",
        "x": 790,
        "y": 960,
        "wires": [
            [
                "042d7cc901f2a6db"
            ]
        ]
    },
    {
        "id": "bdc10805cbb2f1ed",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "e134dce509d92679"
            ]
        ]
    },
    {
        "id": "c2a6ad301a06ea2d",
        "type": "schedex",
        "z": "d1a8fa38065c2484",
        "name": "",
        "passthroughunhandled": false,
        "suspended": false,
        "lat": "",
        "lon": "",
        "ontime": "sunsetStart",
        "ontopic": "",
        "onpayload": "true",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "sunriseEnd",
        "offtopic": "",
        "offpayload": "false",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "bdc10805cbb2f1ed"
            ]
        ]
    },
    {
        "id": "dc839ffd26faf41d",
        "type": "zigbee2mqtt-out",
        "z": "d1a8fa38065c2484",
        "name": "Nachtlicht an",
        "server": "",
        "friendly_name": "",
        "device_id": "0x90fd9ffffef291c7",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 1100,
        "y": 960,
        "wires": []
    },
    {
        "id": "87a368450b93f1c2",
        "type": "comment",
        "z": "d1a8fa38065c2484",
        "name": "Licht an",
        "info": "",
        "x": 110,
        "y": 860,
        "wires": []
    },
    {
        "id": "98fe20eb6303d22f",
        "type": "comment",
        "z": "d1a8fa38065c2484",
        "name": "Licht aus",
        "info": "",
        "x": 120,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7a99cd8fe67e4d99",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": " geöffnet?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 920,
        "wires": [
            [
                "30f431b5b215a81c"
            ]
        ]
    },
    {
        "id": "c0a6e9d1180b85ec",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "Bewegung?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 960,
        "wires": [
            [
                "1f8a6dd80af33834"
            ]
        ]
    },
    {
        "id": "042d7cc901f2a6db",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "true?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 960,
        "wires": [
            [
                "dc839ffd26faf41d"
            ]
        ]
    },
    {
        "id": "2cc4190f05b6bdcc",
        "type": "switch",
        "z": "d1a8fa38065c2484",
        "name": "keine Bewegung?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "f0afcda7acd12be0"
            ],
            []
        ]
    },
    {
        "id": "526b5bb3178426f5",
        "type": "zigbee2mqtt-in",
        "z": "d1a8fa38065c2484",
        "name": "bewegungsmelder",
        "server": "",
        "friendly_name": "sonoff_motion",
        "device_id": "0x00124b0023424ad9",
        "state": "0",
        "outputAtStartup": true,
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "2cc4190f05b6bdcc"
            ]
        ]
    },
    {
        "id": "f0afcda7acd12be0",
        "type": "zigbee2mqtt-out",
        "z": "d1a8fa38065c2484",
        "name": "Nachtlicht aus",
        "server": "",
        "friendly_name": "",
        "device_id": "0x90fd9ffffef291c7",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 560,
        "y": 1200,
        "wires": []
    },
    {
        "id": "30f431b5b215a81c",
        "type": "change",
        "z": "d1a8fa38065c2484",
        "name": "öffnen = true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "1f8a6dd80af33834"
            ]
        ]
    }
]